
.greed_thead {
    border: 1px lightgray solid; padding: 3rem;
    background-color: beige;
}

.greed_tr {
    border-bottom: 1px lightgray solid;;
}

.grid_table td {
    font-size: 0.8rem;
    color: black;
    /* padding: 0.2rem 0.5rem; */
}

.grid_table .tr-data:hover {
    background-color:azure;
}
